---
import { generatedGameRegistry } from '../../../generated/game-registry';
import GameShell from '../../../components/GameShell.svelte';
export function getStaticPaths() {
  const paths = [];
  for (const g of Object.values(generatedGameRegistry)) {
    for (const date of g.dates) paths.push({ params: { gameSlug: g.slug, date }, props: { game: g, date } });
  }
  return paths;
}
const { game, date } = Astro.props;
---
<html>
  <body>
    <GameShell game={game} date={date} client:load />
  </body>
</html>
