---
import { generatedGameRegistry } from '../../../generated/game-registry';
import GameShell from '../../../components/GameShell.svelte';
export function getStaticPaths() {
  return Object.values(generatedGameRegistry).map((g) => ({ params: { gameSlug: g.slug }, props: { game: g } }));
}
const { game } = Astro.props;
---
<html>
  <body>
    <GameShell game={game} client:load />
  </body>
</html>
