---
import { generatedGameRegistry } from '../../../generated/game-registry';
export function getStaticPaths() {
  return Object.values(generatedGameRegistry).map((g) => ({ params: { gameSlug: g.slug }, props: { game: g } }));
}
const { game } = Astro.props;
---
<html><body><h1>{game.displayName}</h1></body></html>
